<?xml version="1.0"?>
<config>
    <modules>
        <Picqer_Webhook>
            <version>1.0.0</version>
        </Picqer_Webhook>
    </modules>
    <global>
        <events>
            <sales_order_save_commit_after>
                <observers>
                    <!-- Send a webhook to Picqer if order has correct status -->
                    <picqer_send_order_webhook>
                        <class>Picqer_Webhook_Model_Sales_Order_Webhook</class>
                        <method>sendWebhook</method>
                    </picqer_send_order_webhook>
                </observers>
            </sales_order_save_commit_after>
        </events>
        <helpers>
            <picqer_webhook>
                <class>Picqer_Webhook_Helper</class>
            </picqer_webhook>
        </helpers>
        <models>
            <picqer_webhook>
                <class>Picqer_Webhook_Model</class>
            </picqer_webhook>
        </models>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <picqer_webhook_options>
                                            <title>Store Picqer Webhook Section</title>
                                        </picqer_webhook_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <picqer_webhook_options>
            <general_settings>
                <picqer_webhook_active>processing</picqer_webhook_active>
            </general_settings>
        </picqer_webhook_options>
    </default>
</config>